.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  left: 0;
  margin: 21px auto;
  max-width: 80%;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(0.8 * 768px);
  z-index: 999;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
