/* Forms */
form { margin-bottom: 0; }
form > fieldset { @apply mb-4 p-8 }
form > fieldset > input {
  border: 1px solid #EEE;
  border-radius: 3px;
  width: 100%;
}
form > fieldset > input[style*="background-image: url"] {
  filter: none !important;
  -webkit-filter: none !important;
}
fieldset legend { @apply text-2xl }
fieldset.border > legend { @apply border-8 border-white -mb-3.5 -ml-3.5 }
