/* Layout */
html { @apply bg-white }
section {
  @apply container py-8;
  margin: 0 auto;
  max-width: 768px;
}
a, a:visited, a:active {color: #0069d9;}
section article { @apply px-8 lg:px-0; }

/* Forms */
form { margin-bottom: 0; }
form > fieldset { @apply p-8 }
form > fieldset > input {
  border: 1px solid #EEE;
  border-radius: 3px;
  width: 100%;
}
form > fieldset > input[style*="background-image: url"] {
  filter: none !important;
  -webkit-filter: none !important;
}
fieldset legend { @apply text-3xl }
fieldset.border > legend { @apply border-8 border-white -mb-3.5 -ml-3.5 }
input[type="checkbox"] + label { @apply cursor-pointer font-normal inline }
[readonly] { @apply cursor-not-allowed }
select[readonly] { @apply pointer-events-none }

/* Buttons */
.button.gray { @apply bg-gray-400 border-gray-400 }

/* Typography */
h1, h2, h3 { @apply font-semibold }
p { @apply mb-2 }

/* Components */
.accordion .title { @apply flex items-center justify-between bg-gray-200 border p-4 cursor-pointer }

/* Navigation */
.container nav { width: 100%; }
.container nav ul { text-align: center; }
.container nav ul li { @apply inline-block mx-4 }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
